/.phpunit.cache
/.tools
/.laravel-scaffold
/.phpunit.result.cache
/.idea
/.vscode
/.env
/.env.*
!/.env.example
/auth.json
/vendor
/node_modules
/database/database.sqlite
/public/build
/public/hot
/storage/*.key
/storage/app/private
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*.php
*.log
*.tmp
*.bak
*.pem
*.key
secrets/
.dev.vars
/.wrangler
/cloudflare/dist
